body{
	
}
#text{
	font-size: 24px;
	color: #41aee5;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #b3b3b3;
}
h5{
	color: #ff6e17;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 38px;
}